extends layout

block content
  div(data-role="page")
    div(data-role="header")
      h1= "Osay2"
    div(data-role="content")
      p= "Hello World"
    div(data-role="footer")
      h3= "2012 LI Daobing"
